
body{
    background-color:antiquewhite;
}

.container{
    width: 89%;
    margin: 2rem auto;
}

.container1,
.container2{
    display: flex;
    gap: 10px;
    margin: 2rem;
}
.kotak {
    border: 2px solid;
    border-radius: 5px;
    width: 100%;
    height: 150px;
  }
  .kotak img {
    width: 100%;
    height: 100%;
  }